<div class="ui secondary pointing menu">
    <a class="item" href="/">
        Home
    </a>
    <a class="item" href="/new">
        New Post
    </a>
    <a class="item">
        About Scotchgram
    </a>
    <div class="right menu">
        <a class="ui item" href="/admin">
            Admin Home
        </a>
    </div>
</div>

<h2 class="ui center aligned icon header">
    <i class="circular teal users icon"></i>
    Scotchgram
</h2>