<!-- views/pages/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="ui grid container">
        <div class="ui two column centered grid">
            <div class="column">
                <form action="/create" method="post" enctype="multipart/form-data" class="ui form">
                    <div class="field">
                        <label>Title</label>
                        <input name="title" type="text" placeholder="Title" />
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="4" name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="field">
                        <label>Image</label>
                        <input name="image" type="text" placeholder="Image URL" id="url_text"/>
                    </div>
                    <button class="ui button" type="button" id="upload_widget_opener">Upload with Widget</button>
                    <button class="ui primary button" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</main>

<% include ../partials/scripts %>
</body>
</html>